fieldset {
	display: flex;
	flex-direction: column;
	gap: 12px;
}
fieldset > * {
	width: fit-content;
}

.btn {
	height: 40px;
	font-family: 'Inter';
	font-size: 18px;
	border: none;
	padding-inline: 16px;
	border-radius: 4px;
	background-color: transparent;
	cursor: pointer;
	display: inline flex;
	align-items: center;
	text-decoration: none;
	color: inherit;
	user-select: none;
	transition: background-color 0.1s, box-shadow 0.15s;
}
.btn:hover,
.btn:focus-visible {
	background-color: hsl(0 0% 0% / 0.05);
}

.btn.btn__raised {
	color: white;
	background-color: #0048f4;
	box-shadow: 0 2px 4px hsl(0 0% 0% / 0.42);
}
.btn.btn__raised:active {
	box-shadow: 0 4px 12px hsl(0 0% 0% / 0.32);
}

.btn.btn__stroke {
	border: 1px solid hsl(0 0% 0% / 0.1);
}